:root {
    --bodyHeightScale: 1;
    --colorAmber: #ffbf00;
}

@keyframes TemporaryShow {
    0%, 100% {
        visibility: visible;
    }
}

@keyframes TemporaryHide {
    0%, 100% {
        visibility: hidden;
    }
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html body {
    -webkit-user-select: none;
    font-family: Roboto-Regular;
    font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#Electricity {
    width: 100%;
    height: 100%;
}

#Electricity[state=off] {
    display: none;
}

@font-face {
    font-family: "Roboto";
    src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#Mainframe {
    --refWidth: 1024;
    --refHeight: 1024;
}

b747-8-mfd-element {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: Roboto-Bold;
    overflow: hidden;
}

b747-8-mfd-element #Electricity {
    width: 100%;
    height: 100%;
}

b747-8-mfd-element #Electricity[state=off] {
    display: none;
}

b747-8-mfd-element #highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

b747-8-mfd-element #Mainframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

b747-8-mfd-element #Mainframe #Compass {
    transform: rotateX(0);
    position: absolute;
    border: none;
    left: 0%;
    top: -2%;
    width: 100%;
    height: 100%;
}

b747-8-mfd-element #Mainframe #Map {
    position: absolute;
    height: 150%;
    width: 150%;
    top: -27%;
    left: -25%;
    display: block;
    /* Map position (left and top) is set in mapConfig.json file (see SvgMapConfig.ts) (makes it editable at runtime) */
    /* Map position (left and top) is set in mapConfig.json file (see SvgMapConfig.ts) (makes it editable at runtime) */
}

b747-8-mfd-element #Mainframe #Map #MapOrientation {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 10%;
    height: calc(3 * 1vh * var(--bodyHeightScale));
    background-color: #1a1d21;
    color: white;
}

b747-8-mfd-element #Mainframe #Map #WindData {
    position: absolute;
    top: 0%;
    width: 7%;
    right: 10%;
}

b747-8-mfd-element #Mainframe #Map #MapRange {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: calc(3 * 1vh * var(--bodyHeightScale));
    background-color: #1a1d21;
    color: #36c8d2;
}

b747-8-mfd-element #Mainframe #Map #MapSVG, b747-8-mfd-element #Mainframe #Map #road-network-canvas {
    transform: rotateX(0);
    position: absolute;
}

b747-8-mfd-element #Mainframe #Map bing-map {
    transform: rotateX(0);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

b747-8-mfd-element #Mainframe #ModeChangeMask {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: black;
}

b747-8-mfd-element #Mainframe #TopBox {
    top: 2%;
    left: 4%;
    width: 92%;
    height: 13%;
    position: absolute;
}

b747-8-mfd-element #Mainframe #TopBox #Speed {
    top: 15%;
    height: 100%;
    left: 0%;
    width: 40%;
    position: absolute;
}

b747-8-mfd-element #Mainframe #TopBox #Approach {
    top: 15%;
    height: 100%;
    left: 60%;
    width: 40%;
    position: absolute;
}

b747-8-mfd-element #Mainframe #TopBox #Approach text {
    text-anchor: end;
}

b747-8-mfd-element #Mainframe #TopBox #Waypoint {
    top: 15%;
    height: 100%;
    left: 60%;
    width: 40%;
    position: absolute;
}

b747-8-mfd-element #Mainframe #TopBox #Waypoint text {
    text-anchor: end;
}

b747-8-mfd-element #Mainframe #TopBox svg {
    width: 100%;
    height: 100%;
}

b747-8-mfd-element #Mainframe #TopBox text {
    width: 100%;
    height: 100%;
    font-family: Roboto-Light;
}

b747-8-mfd-element #Mainframe #TopBox text.Value {
    font-size: 38px;
    fill: white;
}

b747-8-mfd-element #Mainframe #TopBox text.ValueVor {
    font-size: 38px;
    fill: cyan;
}

b747-8-mfd-element #Mainframe #TopBox text.ValueIls {
    font-size: 38px;
    fill: #ff00ff;
}

b747-8-mfd-element #Mainframe #TopBox text.Small {
    font-size: 30px;
    fill: white;
}

b747-8-mfd-element #Mainframe #TopBox text.Large {
    font-size: 38px;
    fill: white;
}

b747-8-mfd-element #Mainframe #TopBox text.Units {
    font-size: 30px;
    fill: cyan;
}

b747-8-mfd-element #Mainframe #VORDMENavaids div {
    top: 87%;
    width: 25%;
    height: 13%;
    position: absolute;
    background-color: black;
}

b747-8-mfd-element #Mainframe #VORDMENavaids svg {
    width: 100%;
    height: 100%;
}

b747-8-mfd-element #Mainframe #VORDMENavaids #VORDMENavaid_Left {
    left: 2.5%;
}

b747-8-mfd-element #Mainframe #VORDMENavaids #VORDMENavaid_Right {
    right: 2.5%;
}

b747-8-mfd-element #Mainframe #VORDMENavaids text {
    font-family: Roboto-Light;
    text-align: center;
    text-anchor: middle;
}

b747-8-mfd-element #Mainframe #VORDMENavaids #State {
    font-size: calc(3 * 1vh * var(--bodyHeightScale));
    fill: white;
}

b747-8-mfd-element #Mainframe #VORDMENavaids #ID {
    font-size: calc(3 * 1vh * var(--bodyHeightScale));
    fill: white;
}

b747-8-mfd-element #Mainframe #VORDMENavaids #Mode {
    font-size: calc(3 * 1vh * var(--bodyHeightScale));
    fill: white;
    text-decoration: underline;
}

b747-8-mfd-element #Mainframe #VORDMENavaids #Distance {
    font-size: calc(2.5 * 1vh * var(--bodyHeightScale));
    fill: white;
}

b747-8-mfd-element #Mainframe #VORDMENavaids #Unit {
    font-size: calc(2.5 * 1vh * var(--bodyHeightScale));
    fill: cyan;
}

b747-8-mfd-element #Mainframe #VORDMENavaids #Arrow {
    fill: none;
    stroke: white;
    stroke-width: 6px;
}

b747-8-mfd-element #Mainframe #Symbols {
    top: 65%;
    left: 3%;
    width: 50%;
    height: 50%;
    position: absolute;
}

b747-8-mfd-element #Mainframe #Symbols svg {
    width: 100%;
    height: 100%;
}

b747-8-mfd-element #Mainframe #Symbols text {
    width: 100%;
    height: 100%;
    font-family: Roboto-Bold;
}

b747-8-mfd-element #Mainframe #Symbols text.Small {
    font-size: 30px;
    fill: #009696;
}

b747-8-mfd-element #Mainframe #Symbols text.Large {
    font-size: 38px;
    fill: #009696;
}

b747-8-mfd-element[mapstyle=rose] #Mainframe #Compass {
    top: 4.5%;
}

b747-8-mfd-element[mapstyle=rose] #Mainframe #Map {
    top: -17.5%;
}

b747-8-mfd-element[mapstyle=plan] #Mainframe #Compass {
    top: 3%;
}

b747-8-mfd-element[mapstyle=plan] #Mainframe #Map {
    top: -22%;
}

b747-8-mfd-element #Mainframe #FakeCompassBox {
    transform: rotateX(0);
    position: absolute;
    border: none;
    left: 0%;
    top: -2%;
    width: 100%;
    height: 100%;
}

b747-8-mfd-element #Mainframe #FakeCompassBoxHdg {
    transform: rotateX(0);
    position: absolute;
    border: none;
    left: 0%;
    top: -2%;
    width: 100%;
    height: 100%;
}

b747-8-mfd-element #Mainframe #FakeCompassBoxHdg text {
    fill: var(--colorAmber);
    font-size: 21px;
    font-family: Roboto-Bold;
    text-anchor: middle;
    alignment-baseline: central;
}

b747-8-mfd-element #Mainframe #FakeCompassBoxHdg path {
    stroke: var(--colorAmber);
    stroke-width: 1;
    fill: none;
}

b747-8-mfd-element #Mainframe #FakeMapBox {
    transform: rotateX(0);
    position: absolute;
    border: none;
    left: 0%;
    top: -2%;
    width: 100%;
    height: 100%;
}

b747-8-mfd-element #Mainframe #FakeMapBox text {
    fill: var(--colorAmber);
    font-size: 21px;
    font-family: Roboto-Bold;
    text-anchor: middle;
    alignment-baseline: central;
}

b747-8-mfd-element #Mainframe #FakeMapBox path {
    stroke: var(--colorAmber);
    stroke-width: 1;
    fill: none;
}

b747-8-mfd-element #Mainframe #align-times {
    position: absolute;
    border: none;
    left: 0%;
    top: -2%;
    width: 100%;
    height: 100%;
}

b747-8-mfd-element #Mainframe #align-times text {
    fill: var(--color-white);
    font-size: 30px;
    font-family: Roboto-Light;
    text-anchor: middle;
    alignment-baseline: central;
}

b747-8-mfd-element #Mainframe #align-times text.align {
    fill: var(--color-white);
    font-size: 30px;
    font-family: Roboto-Bold;
    text-anchor: start;
    alignment-baseline: central;
}

/** IRS States **/

/*
		document.getElementById('Map').style.visibility = 'visible';
		document.getElementById('headingGroup').style.visibility = 'visible';
		document.getElementById('CourseInfo').style.visibility = 'visible';
		document.getElementById('selectedHeadingGroup').style.visibility = 'visible';
		document.getElementById('selectedTrackGroup').style.visibility = 'visible';
		document.getElementById('ILSGroup').style.visibility = 'visible';
		document.getElementById('currentRefGroup').style.visibility = 'visible';
		document.getElementById('RangeGroup').style.visibility = 'visible';
 */

#Map[irs-state=off], #Map[irs-state=inited], #Map[irs-state=aligning],
map-instrument[irs-state=off], map-instrument[irs-state=inited], map-instrument[irs-state=aligning],
#headingGroup[irs-state=off], #headingGroup[irs-state=inited], #headingGroup[irs-state=aligning],
#CourseInfo[irs-state=off], #CourseInfo[irs-state=inited], #CourseInfo[irs-state=aligning],
#selectedHeadingGroup[irs-state=off], #selectedHeadingGroup[irs-state=inited], #selectedHeadingGroup[irs-state=aligning],
#selectedTrackGroup[irs-state=off], #selectedTrackGroup[irs-state=inited], #selectedTrackGroup[irs-state=aligning],
#ILSGroup[irs-state=off], #ILSGroup[irs-state=inited], #ILSGroup[irs-state=aligning],
#currentRefGroup[irs-state=off], #currentRefGroup[irs-state=inited], #currentRefGroup[irs-state=aligning],
#RangeGroup[irs-state=off], #RangeGroup[irs-state=inited], #RangeGroup[irs-state=aligning],
#NDInfo[irs-state=off], #NDInfo[irs-state=inited], #NDInfo[irs-state=aligning],
#circleGroup text[irs-state=off], #circleGroup text[irs-state=inited], #circleGroup text[irs-state=aligning]{
    display: none;
}

#Map[irs-state=aligned],
map-instrument[irs-state=aligned],
#headingGroup[irs-state=aligned],
#CourseInfo[irs-state=aligned],
#selectedHeadingGroup[irs-state=aligned],
#selectedTrackGroup[irs-state=aligned],
#ILSGroup[irs-state=aligned],
#currentRefGroup[irs-state=aligned],
#RangeGroup[irs-state=aligned],
#NDInfo[irs-state=aligned]
#circleGroup text[irs-state=aligned]{
    display: block;
}

#time-to-align[irs-state=aligning]{
    display:block;
}

#time-to-align[irs-state=off], #time-to-align[irs-state=inited], #time-to-align[irs-state=aligned]{
    display:none;
}

#align-times[irs-state=aligned], #FakeMapBox[irs-state=aligned], #FakeCompassBoxHdg[irs-state=aligned], #FakeCompassBox[irs-state=aligned]{
    display: none;
}

#FakeCompassBoxHdg[irs-state=off]{
    display:block;
}

#FakeCompassBoxHdg[irs-state=inited], #FakeCompassBoxHdg[irs-state=aligning], #FakeCompassBoxHdg[irs-state=aligned]{
    display:none;
}

#FakeCompassBox[irs-state=off], #FakeCompassBox[irs-state=aligned]{
    display:none;
}

#FakeCompassBox[irs-state=inited], #FakeCompassBox[irs-state=aligning]{
    display:block;
}

#l-align[irs-state=aligning], #c-align[irs-state=aligning], #r-align[irs-state=aligning]{
    display: block;
}

#l-align[irs-state=off], #l-align[irs-state=inited], #l-align[irs-state=aligned],
#c-align[irs-state=off], #c-align[irs-state=inited], #c-align[irs-state=aligned],
#r-align[irs-state=off], #r-align[irs-state=inited], #r-align[irs-state=aligned] {
    display: none;
}